.upvoteBox{
    display:block;
    float:left; 
    margin: 0 auto; 
    height: 100%; 
    margin-top: 1%;
}

.upvotePlus{
    margin:10px; 
    margin-right:20px; 
    height: 50%
}

.hackathonListGroup{
    height:100%; 
    width: 80%; 
    margin: 0 auto;
}

.hackathonListGroupItem {
    height: 90px;
}

.hack-info {
    display:inline;
}